body {
  background-color: whitesmoke;
}

.container {
  padding-top: 10px;
}

iframe {
  border: none;
}
/*This extends the Background Styling to the Full Page Length
*/
html,
body {
  height: 100%;
  overflow-x: hidden;
}

#NavBar {
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  height: 70px;
  width: 2500px;
  margin-bottom: 50px;
}
#main-content {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
#main-content p {
  margin: 0;
}

#main-message {
  color: #fdbd56;
}

#right-half-navbar {
  margin-left: 1000px;
  position: absolute;
}

footer {
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}

#border-box {
  margin-top: 100px;
  margin-bottom: 30px;
  vertical-align: middle;
  box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, 0.38);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  overflow-x: hidden;
  padding: 0;
}

#banner {
  margin-top: 100px;
}

#cardslist {
  padding-top: 0px;
  margin-top: 0px;
}

.Card {
  margin-left: 100px;
}

#delete-button {
  background-color: red;
}

#page-heading {
  margin-top: 50px;
}

#return-button {
  margin-left: 5px;
}
