body {
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
}

.container {
  padding-top: 10px;
}

/*This extends the Background Styling to the Full Page Length
*/
html,
body {
  height: 100%;
  overflow-x: hidden;
}

#main-content {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
#main-content p {
  margin: 0;
}

#main-message {
  color: white;
}

#right-half-navbar {
  margin-left: 1000px;
  position: absolute;
}

footer {
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}

#border-box {
  margin-top: 100px;
  margin-bottom: 30px;
  vertical-align: middle;
  box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, 0.38);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  overflow-x: hidden;
  padding: 0;
}

#banner {
  margin-top: 100px;
}

#cardslist {
  padding-top: 0px;
  margin-top: 0px;
}

.Card {
  margin-left: 100px;
}
