<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./ResumeTemplate.css" />
    <title>ResumeTemplate</title>
  </head>
  <!-- Content Starts -->
  <body>
    <div class="row" id="resume">
      <div class="row">
        <h2 id="fullName">USER'S FULL NAME</h2>
      </div>
      <div class="row" id="education-block">
        <div class="row">
          <h3 id="education-title">EDUCATION</h3>
        </div>
        <div class="row">
          <div class="col" id="schoolAndMajor">SCHOOL, MAJOR</div>
          <div class="col" id="schoolDates">DATES</div>
        </div>
      </div>
      <div class="row" id="project-block">
        <h3 class="row" id="project-title">EXPERIENCE</h3>
        <div class="row" id="project-listing">
          <div class="row" id="projectName">PROJECT 1</div>
          <div class="row" id="projectDates">DATES</div>
          <div class="row" id="role">ROLE</div>
          <ul id="descriptionList">
            <li>DESCRIPTION 1</li>
            <li>DESCRIPTION 2</li>
            <li>DESCRIPTION 3</li>
          </ul>
        </div>
        <div class="row" id="project-listing">
          <div class="row" id="projectName">PROJECT 2</div>
          <div class="row" id="projectDates">DATES</div>
          <div class="row" id="role">ROLE</div>
          <ul id="description-list">
            <li>DESCRIPTION 1</li>
            <li>DESCRIPTION 2</li>
            <li>DESCRIPTION 3</li>
          </ul>
        </div>
      </div>
      <div class="row" id="tech-skills-block">
        <h3 class="row" id="tech-skills-title">TECH SKILLS</h3>
        <ul id="techSkillsList">
          <li>SKILL 1</li>
          <li>SKILL 2</li>
          <li>SKILL 3</li>
        </ul>
      </div>
      <div class="row" id="interests-block">
        <h3 class="row" id="interests-title">INTERESTS</h3>
        <ul id="interestsList">
          <li>INTEREST 1</li>
          <li>INTEREST 2</li>
          <li>INTEREST 3</li>
        </ul>
      </div>
    </div>
    <!-- Content Ends -->
  </body>
</html>
